<!DOCTYPE html>
<html lang="en-US">
<meta charset="UTF-8">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">


<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Book Clubs</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="http://db4111.cloudapp.net:8111/">Home</a></li>
          <li><a href="http://db4111.cloudapp.net:8111/clubs">Clubs</a></li>
          <li><a href="http://db4111.cloudapp.net:8111/books">Books</a></li>
          <li><a href="http://db4111.cloudapp.net:8111/speakers">Speakers</a></li>
          <li><a href="http://db4111.cloudapp.net:8111/locations">Locations</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<h1>Add a Book</h1>  
<h3 class="col-md-8 col-md-offset-2">We don't have your book in our database yet.  Please add it here before creating your account.</h3>


<form action="http://db4111.cloudapp.net:8111/books/add/" class="col-md-4 col-md-offset-4" method="POST">
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="title" class="form-control" placeholder="Harry Potter">
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" name="author" class="form-control" placeholder="j.k. rowling">
  </div>
  <div class="form-group">
    <label>Genre</label>
    <input type="text" name="genre" class="form-control" placeholder="fantasy">
  </div>
  <div class="form-group">
    <label>ISBN</label>
    <input type="text" name="isbn" class="form-control" placeholder="0123456789">
  </div>
  <button type="submit" class="btn btn-default center-block">Submit</button>
</form>


</body>
</html>